In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
df = pd.read_csv('./Boston.csv')

KeyError: "['Unnamed: 0'] not found in axis"

In [8]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,No,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,No,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,No,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,No,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,No,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [9]:
replace_map ={
    'chas': {
        0 : 'No',
        1 : 'Yes'
    }
}

In [10]:
df_copy = df.copy()

In [11]:
df_copy.replace(replace_map, inplace = True)

In [12]:
df_copy.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,No,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,No,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,No,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,No,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,No,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [13]:
df_copy.to_csv("Boston_update.csv", index=False)

In [15]:
# Updating X as we are only considering two features for modelling
X = pd.DataFrame(np.c_[df['lstat'], df['rm'], df['medv']], columns = ['LSTAT','RM', 'MEDV'])

In [18]:
df2 = pd.DataFrame(X).head()
df2

   LSTAT     RM  MEDV
0   4.98  6.575  24.0
1   9.14  6.421  21.6
2   4.03  7.185  34.7
3   2.94  6.998  33.4
4   5.33  7.147  36.2

In [ ]:
df2.to_csv("Dataset-A.csv", index=False)