In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [7]:
df = pd.read_csv('./Boston.csv')

KeyError: "['Unnamed: 0'] not found in axis"

In [8]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,No,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,No,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,No,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,No,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,No,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [9]:
replace_map ={
    'chas': {
        0 : 'No',
        1 : 'Yes'
    }
}

In [10]:
df_copy = df.copy()

In [11]:
df_copy.replace(replace_map, inplace = True)

In [12]:
df_copy.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,No,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,No,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,No,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,No,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,No,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [13]:
df_copy.to_csv("Boston_update.csv", index=False)

In [15]:
# Updating X as we are only considering two features for modelling
X = pd.DataFrame(np.c_[df['lstat'], df['rm'], df['medv']], columns = ['LSTAT','RM', 'MEDV'])

In [20]:
df2 = pd.DataFrame(X)
df2

     LSTAT     RM  MEDV
0     4.98  6.575  24.0
1     9.14  6.421  21.6
2     4.03  7.185  34.7
3     2.94  6.998  33.4
4     5.33  7.147  36.2
5     5.21  6.430  28.7
6    12.43  6.012  22.9
7    19.15  6.172  27.1
8    29.93  5.631  16.5
9    17.10  6.004  18.9
10   20.45  6.377  15.0
11   13.27  6.009  18.9
12   15.71  5.889  21.7
13    8.26  5.949  20.4
14   10.26  6.096  18.2
15    8.47  5.834  19.9
16    6.58  5.935  23.1
17   14.67  5.990  17.5
18   11.69  5.456  20.2
19   11.28  5.727  18.2
20   21.02  5.570  13.6
21   13.83  5.965  19.6
22   18.72  6.142  15.2
23   19.88  5.813  14.5
24   16.30  5.924  15.6
25   16.51  5.599  13.9
26   14.81  5.813  16.6
27   17.28  6.047  14.8
28   12.80  6.495  18.4
29   11.98  6.674  21.0
..     ...    ...   ...
476  18.68  6.484  16.7
477  24.91  5.304  12.0
478  18.03  6.185  14.6
479  13.11  6.229  21.4
480  10.74  6.242  23.0
481   7.74  6.750  23.7
482   7.01  7.061  25.0
483  10.42  5.762  21.8
484  13.34  5.871  20.6
485  10.58  6.312  21.2
486  14.98  6.114  19.1
487  11.45  5.905  20.6
488  18.06  5.454  15.2
489  23.97  5.414   7.0
490  29.68  5.093   8.1
491  18.07  5.983  13.6
492  13.35  5.983  20.1
493  12.01  5.707  21.8
494  13.59  5.926  24.5
495  17.60  5.670  23.1
496  21.14  5.390  19.7
497  14.10  5.794  18.3
498  12.92  6.019  21.2
499  15.10  5.569  17.5
500  14.33  6.027  16.8
501   9.67  6.593  22.4
502   9.08  6.120  20.6
503   5.64  6.976  23.9
504   6.48  6.794  22.0
505   7.88  6.030  11.9

[506 rows x 3 columns]

In [23]:
df2.to_csv("Dataset-A.csv", index=False)